@page "/results"

@inject IDataService DataService
@inject IJSRuntime JS

<h3>Results</h3>
<p>The table shows the top N numbers generated. The download XML and Binary feature allows you to download the entire data set</p>

<div>
    <button class="btn btn-primary" @onclick="(async () => await this.DownloadXmlAsync())">Download XML</button>
    <button class="btn btn-primary" @onclick="(async () => await this.DownloadBinaryAsync())">Download Binary</button>
</div>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Value</th>
            <th>IsPrime</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in this.numbers)
        {
            <tr>
                <td>@item.Value</td>
                <td>@item.IsPrime</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {

    [Inject] public required ILogger<Threading> Logger { get; set; }

    private List<Number> numbers = new ();

    protected override async Task OnInitializedAsync()
    {
        numbers = await DataService.GetAllAsync();
    }

    /// <summary>
    /// Fetches all the records, serializes them to XML and downloads the file
    /// </summary>
    private async Task DownloadXmlAsync()
    {
        this.Logger.LogInformation("DownloadXml");

        string xml = await DataService.SerializeToXmlAsync();

        await JS.InvokeVoidAsync("downloadFile", "numbers.xml", xml, "text/xml");
    }

    /// <summary>
    /// Fetches all the records, serializes them to Binary and downloads the file
    /// </summary>
    private async Task DownloadBinaryAsync()
    {
        this.Logger.LogInformation("DownloadBinary");
        throw new NotImplementedException();
    }

}
